<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="One clicked music downloader from JOOX.">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Joox Downloader</title>
    <link rel="shortcut icon" href="/img/icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    
